# Created by .ignore support plugin (hsz.mobi)
将删除 .gitignore
将删除 .metadata/.mylyn/contexts/
将删除 .metadata/.plugins/com.genuitec.eclipse.derby/
将删除 .metadata/.plugins/com.genuitec.eclipse.runtime/
将删除 .metadata/.plugins/com.genuitec.eclipse.server.embedded.tomcat.core/
将删除 .metadata/.plugins/com.genuitec.eclipse.ws.jaxrs/
将删除 .metadata/.plugins/org.eclipse.birt.chart.engine/
将删除 .metadata/.plugins/org.eclipse.core.resources/.history/
将删除 .metadata/.plugins/org.eclipse.core.resources/.projects/
将删除 .metadata/.plugins/org.eclipse.debug.core/
将删除 .metadata/.plugins/org.eclipse.emf.common.ui/
将删除 .metadata/.plugins/org.eclipse.mylyn.bugzilla.core/
将删除 .metadata/.plugins/org.eclipse.mylyn.context.core/
将删除 .metadata/.plugins/org.eclipse.mylyn.tasks.ui/
将删除 .metadata/.plugins/org.eclipse.pde.core/.p2/
将删除 .metadata/.plugins/org.eclipse.team.cvs.core/
将删除 .metadata/.plugins/org.eclipse.wst.common.modulecore/
将删除 .metadata/.plugins/org.eclipse.wst.common.snippets/storage/
将删除 .metadata/.plugins/org.eclipse.wst.jsdt.core/indexes/
将删除 .metadata/.plugins/org.springsource.ide.eclipse.commons.frameworks.core/
将删除 .metadata/.plugins/tern.eclipse.ide.ui/
将删除 common-facade/src/main/resources/
将删除 common-service/src/main/java/org/nero/live/core/
将删除 common-service/src/main/java/org/nero/live/facade/
将删除 common-web/src/main/resources/
将删除 user-facade/src/main/java/org/nero/live/anchor/
将删除 user-facade/src/main/java/org/nero/live/user/utils/
将删除 user-service/src/main/java/org/nero/live/core/anchor/
将删除 user-service/src/main/java/org/nero/live/core/user/biz/impl/
将删除 user-service/src/main/java/org/nero/live/facade/anchor/
将删除 user-service/src/main/resources/mybatis/mapper/
将删除 user-service/src/test/java/
将删除 user-service/src/test/resources/mybatis/mapper/
